<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd ">

   <!-- Initialization for data source -->
   <bean id="dataSource" 
      class="org.springframework.jdbc.datasource.DriverManagerDataSource">
      <property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/>
      <property name="url" value="jdbc:sqlserver://10.176.221.33:1433;databaseName=PowerPuffSchedulers;integratedSecurity=false;"/>
      <property name="username" value="sa"/>
      <property name="password" value="Nursing1!"/>
   </bean>

   <!-- Definition for machineJDBCTemplate bean -->
   <bean id="MachineJDBCTemplate" 
      class="ro.cerner.envdashboard.persistence.MachineJDBCTemplate">
      <property name="dataSource" ref="dataSource" />    
   </bean>
   
   <!-- Definition for environmentJDBCTemplate bean -->
   <bean id="EnvironmentJDBCTemplate" 
      class="ro.cerner.envdashboard.persistence.EnvironmentJDBCTemplate">
      <property name="dataSource" ref="dataSource" />    
   </bean>
   
    <!-- Definition for CheckerJDBCTemplate bean -->
   <bean id="CheckerJDBCTemplate" 
      class="ro.cerner.envdashboard.persistence.CheckerJDBCTemplate">
      <property name="dataSource" ref="dataSource" />    
   </bean>
   
    <!-- Definition for CheckerDefinitionJDBCTemplate bean -->
   <bean id="CheckerDefinitionJDBCTemplate" 
      class="ro.cerner.envdashboard.persistence.CheckerDefinitionJDBCTemplate">
      <property name="dataSource" ref="dataSource" />    
   </bean>
   
</beans>